<h1>Tweets#index</h1>
<p>Find me in app/views/tweets/index.html.erb</p>

<%# ツイート一覧ページ %>

<% @tweets.each do |tweet| %>
    <hr>
    <p><span>ツイート内容: </span><%= link_to tweet.body, tweet_path(tweet.id) %></p>
<% end %>

<%# 

link_to tweet.body, tweet_path(tweet.id)と
link_to メールの内容,ツイートモデルのツイートidをパスとして渡す

%>